@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background: linear-gradient(#b6b58d 30%,#525240) fixed;

    font-size: 16px;
    margin: 0;
    padding: 0;
}
.img1{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 30%;
}
.img2{
    position: absolute;
    bottom: 30%;
    width: 350px;
}
.second{
    background-color: #ffffff;
    width: 85%;
    height: 250px;
    position: relative;
    bottom: -100px;
    margin-left: 15%;
}
.third{
    background-color: #f1f1f1;
    width: 85%;
    height: 250px;
    position: relative;
    bottom: -300px;
    margin-left: 15%;
    transition: all 1s;
}
.fourth{
    background-color: #e4e4e4;
    width: 85%;
    height: 250px;
    position: relative;
    bottom: -550px;
    margin-left: 15%;
}
p{
    font-family: 'TmonMonsori',serif;
    font-size: 40px;
    position: absolute;
    top: 55%;
    left: 40px;
}
.third:hover{
    transform: translate(0,-95px);
}
.third p{
    font-size: 50px;
    width: 50%;
    position: relative;
    left: 30%;
    top: 20%;
}
a{  
    color: black;
    text-decoration: none;
}
